.toolbar-header-application {
  .mat-toolbar {
    .mat-toolbar-row {
      padding-left: 10px;
    }

    //background: greenyellow;
    background: #ffffff;

    border-bottom: 1px solid $color-border;

    .header--logo {
      margin-left: 10px;
    }

    .mat-divider-vertical {
      width: 10px;
    }

    .mat-flat-button {
      min-width: unset;
      line-height: 20px;
      padding: 14px 14px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      background: $background;

      &:hover {
        background: $background-hover;
      }

      .mat-icon {
        color: $color-icon;
      }
    }
  }

  .mat-badge-content {
    top: -3px !important;
    right: -3px !important;
  }

  .button--notification, .button--avatar .mat-button-wrapper {
    padding: 0;
  }

  .button--notification, .mat-button-wrapper {
    padding-top: 3px;
  }

  .button--avatar {
    .wrap {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      border: 2px solid silver;
      text-align: center;
    }

    background: $background;

    &:hover {
      background: $background-hover;
    }
  }
}
