<form [formGroup]="formGroup" novalidate>

  <div class="generic-content editor">
    <div class="use-grid">
      <div class="use-row">
        <div class="col-xsb-12 col-sm-8">
          <mat-form-field>
            <mat-label>Endereço</mat-label>
            <input type="text" matInput formControlName="address" required>
            <mat-error>Este campo é obrigatório</mat-error>
          </mat-form-field>
        </div>

        <div class="col-xsb-12 col-sm-4">
          <mat-form-field>
            <mat-label>Número</mat-label>
            <input type="text" matInput formControlName="number" required>
            <mat-error>Este campo é obrigatório</mat-error>
          </mat-form-field>
        </div>

        <div class="col-xsb-6">
          <mat-form-field>
            <mat-label>Complemento</mat-label>
            <input type="text" matInput formControlName="complement">
          </mat-form-field>
        </div>

        <div class="col-xsb-6">
          <mat-form-field>
            <mat-label>Bairro</mat-label>
            <input type="text" matInput formControlName="neighborhood">
          </mat-form-field>
        </div>

        <div class="col-xsb-12  col-sm-3">
          <mat-form-field>
            <mat-label>CEP</mat-label>
            <input type="text" matInput formControlName="postal_code" required>
            <mat-error>Este campo é obrigatório</mat-error>
          </mat-form-field>
        </div>

        <div class="col-xsb-12  col-sm-7">
          <mat-form-field>
            <mat-label>Cidade</mat-label>
            <input type="text" matInput formControlName="city" required>
            <mat-error>Este campo é obrigatório</mat-error>
          </mat-form-field>
        </div>

        <div class="col-xsb-12 col-sm-2">
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select matInput formControlName="state">
              <mat-option *ngFor="let item of listStates" [value]="item.value">
                {{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-xsb-12 col-sm-10">
          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select matInput formControlName="type">
              <mat-option *ngFor="let item of listGeneralTypes" [value]="item.value">
                {{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-xsb-12 col-sm-2 button-group">
          <button mat-mini-fab class="mat-elevation-z0" (click)="onUpdateEdit()" [disabled]="!formGroup.valid">
            <mat-icon class="done">done</mat-icon>
          </button>
          <button mat-mini-fab class="mat-elevation-z0" (click)="onCancelEdit()">
            <mat-icon class="close">close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

</form>
