<mat-toolbar>
  <mat-toolbar-row>
    <button #btnBack class="mat-elevation-z0"
            mat-mini-fab
            name="back"
            matTooltip="Voltar"
            (click)="onBack($event, btnBack)">
      <mat-icon aria-label="">arrow_back</mat-icon>
    </button>

    <h2 class="title">Imprimir</h2>
    <span class="spacer"></span>
    <!--
        <button #btnReload class="mat-elevation-z0"
                mat-mini-fab
                name="reaload"
                matTooltip="Atualizar"
                (click)="onReload($event, btnReload)">
          <mat-icon aria-label="">refresh</mat-icon>
        </button>

        <button class="mat-elevation-z0"
                mat-mini-fab
                name="menu"
                *ngIf="showButtonMore"
                [matMenuTriggerFor]="mainMenu">
          <mat-icon aria-label="">more_vert</mat-icon>
        </button>


-->
    <button #print class="mat-elevation-z0"
            mat-mini-fab
            name="print"
            *ngIf="showButtonPrint"
            (click)="onPrint()">
      <mat-icon aria-label="">print</mat-icon>
    </button>

    <!--<button #openInNew class="mat-elevation-z0"
            mat-mini-fab
            name="openInNew"
            matTooltip="Abrir em nova janela"
            *ngIf="showButtonOpenInNew"
            (click)="onOpenInNew($event, openInNew)">
      <mat-icon aria-label="">open_in_new</mat-icon>
    </button>

    <mat-divider [vertical]="true"></mat-divider>

    <button #chevronLeft class="mat-elevation-z0"
            mat-mini-fab
            name="chevronLeft"
            matTooltip="Anterior"
            *ngIf="showButtonChevron"
            [disabled]="disabledButtonChevronLeft"
            (click)="onChevronLeft($event, chevronLeft)">
      <mat-icon aria-label="">chevron_left</mat-icon>
    </button>

    <button #chevronRight class="mat-elevation-z0"
            mat-mini-fab
            name="chevronRight"
            matTooltip="Próximo"
            *ngIf="showButtonChevron"
            [disabled]="disabledButtonChevronRight"
            (click)="onChevronRight($event, chevronRight)">
      <mat-icon aria-label="">chevron_right</mat-icon>
    </button>

    <button class="mat-elevation-z0"
            mat-mini-fab
            name="settings"
            matTooltip="Configurações"
            *ngIf="showButtonSettings"
            [matMenuTriggerFor]="menuSettings">
      <mat-icon aria-label="">settings</mat-icon>
    </button>-->

  </mat-toolbar-row>
</mat-toolbar>

<div class="use-progress">
  <mat-progress-bar mode="indeterminate" *ngIf="showProgress"></mat-progress-bar>
</div>

<mat-menu #menuSettings="matMenu">
  <button #settings mat-menu-item *ngFor="let item of listItemsMenuSettings" (click)="onSettings($event, settings, item)">
    <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
    {{item.label}}
  </button>
</mat-menu>

<mat-menu #mainMenu="matMenu">
  <button #menu mat-menu-item *ngFor="let item of listItemsMenu" (click)="onSettings($event, menu, item)">
    <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
    {{item.label}}
  </button>
</mat-menu>
