<form [formGroup]="formGroup" novalidate>
  <mat-form-field class="form-field-passsword">
    <mat-label>{{placeholder}}</mat-label>
    <input #password (keyup)="onPasswordValidate($event, password.value)" (blur)="blur.emit($event)" formControlName="password" matInput
           maxlength="16"
           type="password">
    <mat-icon *ngIf="view" (click)="onShowHidePassword(password)" matSuffix matTooltip="Visualizar/Ocultar">visibility</mat-icon>
    <mat-icon *ngIf="sugestion" (click)="onGereratePassword($event)" matSuffix matTooltip="Gerar nova senha">replay</mat-icon>
    <mat-error>Senha inválida</mat-error>
  </mat-form-field>
  <div>
    <div #passwordError class="password-error mat-form-field"></div>
  </div>
</form>


