/*$background: #ffffff;
$background-hover: #ededed;

$font-size: 14px;
$font-size-title: 15px;
$font-size-subtitle: 12px;
$font-size-group: 12px;
$font-size-info: 11px;
$font-size-button: 12px;

$color-disabled: #bdbdbd;

$color-title-content: #767676;
$color-icon: #41619f;

$color: #404040;
$color-hover: #0085f0;
$color-border: #e6e7e8;
$color-icon: #767676;
//$color-title: #767676;
$color-title: #0085f0;
$color-subtitle: #767676;
$color-group: #767676;
$color-info: #767676;*/


@import "@plugins/outlets/outlets.styles";
@import "@plugins/menu/sidenav/menu-sidenav.styles";
@import "@plugins/menu/tools/use-ide-menu-tools.styles";
@import "@plugins/toolbar/find-header/toolbar-find-header.styles";


/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


/* For use in src/lib/core/theming/_palette.scss */
$md-palette-client: (
  50 : #f5f5f5,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($md-palette-client);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);




$palette-gray: mat-palette($mat-gray);
$palette-client-primary: mat-palette($md-palette-client, 50, A100, A400);
$candy-app-theme-color: mat-dark-theme($palette-client-primary, $candy-app-accent);

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


//@include mat-button-theme($candy-app-theme-color);

.mat-toolbar {
  background: #ffffff;
  border-bottom: 1px solid mat-color($palette-gray, 200);

  .mat-toolbar-row {
    padding: 8px;

    .mat-fab, .mat-mini-fab {
      background: unset;

      &:hover {
        background: mat-color($palette-client-primary, 50) !important;
      }

      .mat-icon {
        color: mat-color($palette-client-primary, 700)
      }
    }
  }

  .user-avatar {
    .mat-icon {
      color: mat-color($palette-client-primary, 500);
    }
  }

  &.sub-menu {
    max-height: 45px!important;

    h2{
      padding-right: 15px;
      padding-left: 5px;
      font-weight: 300;
      font-size: 26px;
      color: mat-color($palette-client-primary, 900);
    }

    &.mat-toolbar-multiple-rows{
      min-height: 45px!important;
    }
    .mat-toolbar-row {
      padding: 2px;
      color: mat-color($palette-gray, 600);
      font-weight: lighter;
      .mat-icon {
        color: mat-color($palette-gray, 600);
      }
    }

    .mat-paginator-container {
      min-height: unset;
    }
    .mat-paginator-range-label {
      margin: 0 10px 0 15px;
    }

    .mat-flat-button{
      line-height: 31px;
      color: #ffffff;
      font-size: 12px;
      background:  mat-color($palette-client-primary, 900);
      padding-right: 20px;
      .mat-icon {
        color: #ffffff;
      }
    }
  }
}

table{
  width: 100%;
  tr.mat-header-row {
    height: 40px;
    background: mat-color($palette-gray, 50);
  }
  tr.mat-footer-row, tr.mat-row {
    height: 35px;
  }
  td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    width: 32px;
    padding-right: 4px!important;
  }

  td.mat-cell, td.mat-footer-cell {
    border-bottom-style:unset;
  }

  .mat-fab, .mat-mini-fab {
    background: none!important;
    &:hover {
      background: mat-color($palette-client-primary, 50) !important;
    }
    .mat-icon {
      color: mat-color($palette-gray, 600)
    }
  }
}

.paginator-container{
  border-bottom: 1px solid mat-color($palette-gray, 200);
  border-top: 1px solid mat-color($palette-gray, 200);
}


.even-odd {
  .mat-row {
    border: unset;

    &:nth-child(even) {
      background-color: #f7f8fc;
    }

    &:nth-child(odd) {
      background-color: #ffffff;
    }
  }
}


.highlight {
  background: mat-color($palette-client-primary, 900)!important;

  .mat-cell {
    color: #ffffff;
  }

  .mat-checkbox-frame {
    border-color: rgba(255, 255, 255, 0.99)!important;
  }

  .mat-icon {
    color: #ffffff!important;
  }

  .mat-fab, .mat-mini-fab {
    &:hover {
      background: mat-color($palette-client-primary, 700) !important;
    }
    .mat-icon {
      color: mat-color($palette-gray, 600);
    }
  }
}

.mat-menu-panel {
  min-width: 130px!important;
  border-radius: unset!important;

  .mat-menu-content:not(:empty) {
    padding: 0;
  }
  .mat-menu-item {
    line-height: 38px!important;
    height: 38px!important;
  }

  .mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]) {
    background: mat-color($palette-client-primary, 900)!important;
    color: white;
    .mat-icon {
      color: white;
    }
  }
}


.spacer {
  flex: 1 1 auto !important;
}




.mat-dialog-container {
  padding: 20px!important;
  padding-top: 0!important;
  padding-bottom: 25px!important;
  border-radius: 0!important;
  border-bottom: 1px solid mat-color($palette-gray, 200);
  overflow: hidden!important;
  h2{
    margin-top: 7px;
    span {
      border-top: 3px solid mat-color($palette-client-primary, 900) !important;
      padding-top: 8px;
      font-weight: 300;
    }
  }
  .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    min-width: 64px!important;
    line-height: 28px!important;
    padding: 0 22px!important;
    border-radius: 3px!important;
    font-size: 12px!important;
    margin-left: 12px;
  }

  form{
    font-size: 14px;
    .mat-form-field{
      width: 100%;
    }
  }
}
